@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #61dafb;
  --secondary-color: #3ea99f;
  --background-color: #0c0823;
  --bg-popover: #1a1a1a;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: auto;
}

html {
  background-color: var(--background-color);
  scroll-behavior: smooth;
}

/* Css for scrollbar */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--background-color);
  border-left: gray 1px solid;
}

::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary-color);
}

/* Firefox */
html {
  scrollbar-width: thin;
  scrollbar-color: var(--primary-color) var(--background-color);
}

html::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
}

html::-webkit-scrollbar-thumb:hover {
  background-color: var(--secondary-color);
}
/* End of scollbar styles */

/* Css for the Headline component */
.titles-container {
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100dvh;
}

.lightning {
  position: absolute;
  top: 0;
  z-index: -1;
  -webkit-animation: flash ease-out 3s infinite;
  -moz-animation: flash ease-out 3s infinite;
  animation: flash ease-out 1.5s infinite;
  animation-delay: 3s;
  opacity: 0;
  background-color: "#0C0823";
}

@-webkit-keyframes flash {
  20% {
    opacity: 0.15;
  }

  40% {
    opacity: 0.1;
  }

  60% {
    opacity: 0.15;
  }

  80% {
    opacity: 0.1;
  }

  86.666% {
    opacity: 0.15;
  }

  93.333% {
    opacity: 0.1;
  }

  100% {
    opacity: 0.15;
  }
}

@keyframes flash {
  20% {
    opacity: 0.15;
  }
  40% {
    opacity: 0.1;
  }
  60% {
    opacity: 0.15;
  }
  80% {
    opacity: 0.1;
  }
  86.666% {
    opacity: 0.15;
  }
  93.333% {
    opacity: 0.1;
  }
  100% {
    opacity: 0.15;
  }
}

.titles {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -3em;
  position: relative;
}

.titles div {
  color: var(--primary-color);
  display: flex;
  flex-direction: row;
}
.name {
  font-weight: 400;
}
.job-title {
  font-weight: 700;
  margin-top: -1em;
}

.title-media {
  font-size: 3em;
}

.titles div p {
  position: relative;
  -webkit-animation: move-text-color 0.75s forwards;
  -moz-animation: move-text-color 0.75s forwards;
  -ms-animation: move-text-color 0.75s forwards;
  animation: move-text-color 0.75s forwards;
  opacity: 0;
}

@-webkit-keyframes move-text-color {
  0% {
    bottom: -0.2em;
    opacity: 1;
    -webkit-transform: skewX(-40deg);
  }

  50% {
    bottom: 0.2em;
    -webkit-transform: skewX(-20deg);
  }

  100% {
    bottom: 0;
    opacity: 1;
    -webkit-transform: skewX(0deg);
  }
}

@-moz-keyframes move-text-color {
  0% {
    bottom: -0.2em;
    opacity: 1;
    -moz-transform: skewX(-40deg);
  }

  50% {
    bottom: 0.2em;
    -moz-transform: skewX(-20deg);
  }

  100% {
    bottom: 0;
    opacity: 1;
    -moz-transform: skewX(0deg);
  }
}

@-ms-keyframes move-text-color {
  0% {
    bottom: -0.2em;
    opacity: 1;
    -ms-transform: skewX(-40deg);
  }

  50% {
    bottom: 0.2em;
    -ms-transform: skewX(-20deg);
  }

  100% {
    bottom: 0;
    opacity: 1;
    -ms-transform: skewX(0deg);
  }
}

@keyframes move-text-color {
  0% {
    bottom: -0.2em;
    opacity: 1;
    transform: skewX(-40deg);
  }

  50% {
    bottom: 0.2em;
    transform: skewX(-20deg);
  }

  100% {
    bottom: 0;
    opacity: 1;
    transform: skewX(0deg);
  }
}

.description {
  font-weight: 400;
  font-size: 1.5em;
  color: #61dafb;
  -webkit-animation: fadein 2s forwards;
  -moz-animation: fadein 2s forwards;
  -ms-animation: fadein 2s forwards;
  -o-animation: fadein 2s forwards;
  animation: fadein 2s forwards;
  animation-delay: 2.4s;
  opacity: 0;
}

@media (max-width: 640px) {
  .title-media {
    font-size: 2em;
  }
  .description {
    font-size: 1.2em;
  }
}
@media (min-width: 1300px) {
  .description {
    width: 80%;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
/* end of headline component css */

/* Navbar */
.navbar,
.animate-fade-in {
  -webkit-animation: fadein 2s forwards;
  -moz-animation: fadein 2s forwards;
  -ms-animation: fadein 2s forwards;
  -o-animation: fadein 2s forwards;
  animation: fadein 2s forwards;
  animation-delay: 3s;
  opacity: 0;
}
.navbar > div {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
/* Navbar */

/* Custom Button */
.custom_button {
  appearance: button;
  background-color: var(--primary-color);
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 19px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter 0.2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.custom_button:after {
  background-clip: padding-box;
  background-color: var(--primary-color);
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.custom_button:main,
.custom_button:focus {
  user-select: auto;
}

.custom_button:hover:not(:disabled) {
  filter: brightness(1.1);
}

.custom_button:disabled {
  cursor: auto;
}

.custom_button:active:after {
  border-width: 0 0 0px;
}

.custom_button:active {
  padding-bottom: 10px;
}
/* Custom Button */
.card-shadow {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}
